* {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.loginBackground {
  display: flex;
    height: 100%;
    width: 95%;
    margin: auto;
    justify-content: center;
}

.loginleft {
  
  width: 50%;
  /* height: 100vh; */
  /* clip-path: polygon(0 0, 100% 0, 90% 83%, 0% 90%); */
  display: flex;
  flex-direction: column;
  /* padding-top: 10vh; */
  align-items: center;
}
.loginleft > h1 {
  color: white;
}

/* .bannerimgdiv{
  background: url(./banner.svg);
  

  Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
    height: 75%;
} */

.loginleft > img {
  width: calc(13rem + 13vw);
  /* height: calc(13rem + 13vw); */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginleft > p {
  color: white;
  margin: 3px;
}
.loginleft > button {
  position: fixed;
  width: 150px;
  border: white solid 2px;
  padding: 10px 30px;
  background: transparent;
  border-radius: 20px;
  color: white;
  margin: 20px 0px;
  transition: 0.5s ease-in-out;
  font-weight: bolder;
  outline: none;
}
.loginleft > button:hover {
  background: white;
  color: rgb(0, 110, 255);
  transition: 0.5s ease-in-out;
}

.loginright {
  background: white;
    flex-basis: 50%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    /* margin-top: 20vh; */
    justify-content: center;
}

.loginrightsub > h1 {
  margin: 10px 0;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  margin-bottom: 4rem;

}
.loginrightsub > h2 {
 
  font-family: Roboto;
  margin-bottom: 1.5rem;
  font-weight: 700;
font-size: 30px;
line-height: 35px;

}




/* .loginrightsub > p {
  margin: 10px;
  font-weight: bold;
} */
.loginrightsub img {
  margin: 0px 10px;
}

@media (min-width: 961px) {
.content_960{
display: none !important;
}  
}


.fssa01{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 259px;
  /* margin-top: 117px; */
  margin-bottom: 10px;
  /* justify-content: space-between; */
}

.fssa02{
  width: 56px;
}
.fssa03{
  font-size: 24px;
}
/* .header_mb{
  margin-bottom: 25px;
} */

@media (max-width: 960px) {
.fssh01{
  min-height: 94vh;
}
  .content_961{
    display: none !important;
  }

  .loginBackground {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .loginleft {
    width: 100%;
    /* padding-top: 16vh; */
    justify-content: flex-end;
  }

  .loginleft > img{
    width: calc(18rem + 18vw);
  }

  .loginright {
    width: 100vw;
    margin-top: 0px;
    padding-top: 30px;
    display: none;
    /* background-color: rgb(0, 110, 255); */
    /* background-image: url("./banner.svg"); */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
    /* clip-path: polygon(0 0, 100% 0, 90% 83%, 0% 90%); */
  }
  .loginrightsub > input {
    width: 50vw;
    background: white;
  }
  .loginrightsub > button {
    background: white;
    color: rgb(0, 110, 255);
  }

.getstartedbtn{
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  background-color: rgba(73, 70, 126, 1) !important;
  border-radius: 77px !important;
  width: 342px !important;
  margin: 11% 0 0 !important;
  height: 60px;
}
.header_mb{
  margin-bottom: 129px;
}
.loginrightsub > h1{
  margin-bottom: 1rem;
}

}

